.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.local/**
.git/**
tests/**
test/**
webview-debug.log
res/logcat-lens-screenshot.png
docs/PERFORMANCE.md
DEVELOPING.md
