.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.local/**
.git/**
.github/**
node_modules/**
scripts/**
*.vsix
jsconfig.json
esbuild.js
tests/**
test/**
webview-debug.log
res/logcat-lens-screenshot.png
res/screenshots/**
src/application/**
src/backend/**
src/shared/**
docs/**
DEVELOPING.md
